@import "tailwindcss";

/* html {
  font-family: var(--font-sans);
  color: var(--color-brand-text);
}
.logo {
  font-family: var(--font-logo);
  color: var(--color-brand-text);
} */

@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Lobster-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/Inter-Black.woff2") format("woff2");
}

/* 
  Theme colors used:
  1. Background
  2. Heading text
  3. Image
  4. Team name large
  5. Border colours
*/

@theme {
  --font-sans: "Inter", sans-serif;
  --color-brand-text: var(--color-brand-text);
  --color-brand-bg: var(--color-brand-bg);
  --color-brand-heading: var(--color-brand-heading);
  --color-brand-bdr: var(--color-brand-bdr);
  --color-orange-300: #e16c40;
  --color-orange-500: #c34426;
  --color-orange-700: #b63018;
}

@layer base {
  :root {
    --font-sans: "Inter", sans-serif;
    --font-logo: "Lobster", sans-serif;
    --theme-color: #aab9ff;
    --color-brand-text: #f9fafb;
    --color-brand-bg: #234160;
    --color-brand-heading: #ff8c00;
    --color-brand-bdr: #ff8c00;
  }
  [data-theme="PHX"] {
    --theme-color: #56d0a0;
    --color-brand-bg: #6e1818;
    --color-brand-text: #ff8c00;
    --color-brand-heading: #ff8c00;
    --color-brand-bdr: #ff8c00;
  }
}
