@import "tailwindcss";

@theme {
  --color-brand: var(--color-brand);
  --color-primary: var(--theme-color);
}

@layer base {
  :root {
    --theme-color: #aab9ff;
    --color-brand: #f9fafb;
  }
  [data-theme="phx"] {
    --theme-color: #56d0a0;
    --color-brand: #ff8c00;
  }
}
