@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: var(--font-inter);
  }
  .logo {
    font-family: var(--font-lobster);
  }
  body {
    background: #fff;
  }
  :root {
    --color-text-primary: #dd0093;
    --color-bg-primary: #fff;
  }
  .theme-PHX {
    --color-text-primary: #000ddd;
    --color-bg-primary: #000;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
